body {
  font-family: 'Courier New', Courier, monospace;
  margin: 1em;
}

#root {
  max-width: 700px;
  margin: auto;
}

#add {
  color: darkgreen;
  border-color: darkgreen;
}

#error-area {
  position: fixed;
  bottom: 1em;
  right: 1em;
}

.message {
  border: 1px solid black;
  border-radius: 0.3em;
  margin: 1em auto;
  padding: 0.6em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.message > p {
  flex-grow: 1;
  margin: 0;
}

.mdi {
  font-size: 1.5em;
  margin: 5px;
}

.mdi-pencil {
  color: brown;
}

.mdi-eraser {
  color: red;
}

.mdi-plus-box {
  color: darkgreen;
}

/* Only for non-touch devices */
.mdi-pencil, .mdi-eraser, #add {
  cursor: pointer;
}

.mdi-pencil:hover {
  color: #521616;
}

.mdi-eraser:hover {
  color: #aa0000;
}

.mdi-plus-box:hover {
  color: #003a00;
}
