{% extends 'base.html' %}

{% block head %}
    <title>Message List</title>
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='icon/favicon.svg') }}">
    <script src="{{ url_for('static', filename='js/bundles/app.js') }}" defer></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
{% endblock %}

{% block body %}
    <div id="root"></div>
{% endblock %}
